mat-toolbar {
  position: inherit;
  top: 0;
  left: 0;
  right: 0;
  height: 65px;
  display: flex;
  align-items: center;
  background-color: #cc2028;
  color: white;
}

mat-toolbar img {
  margin: 0 16px;
}

.spacer {
  flex: 1;
}

mat-button {
  color: #F2F2F2;
  background-color: transparent;
  text-decoration: none;
  margin-left: 10px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 0.8em;
  padding: 0px 9px 0px 9px;
}

mat-button:hover {
  background-color: #e63838;
}

.active {
  background-color: #e63838;
}

mat-card-header{
  padding: 0px;
  color:gray;
  height: 20px;
}

mat-card-title{
  font-size: 1.1em !important;
  margin: 0px;
  height: auto;
}

mat-card{
  height: auto;
  width: auto;
  padding:0;
  padding: 10px;
}


mat-card-content{
  margin-top: 10px;
  text-align: center;
  padding: 0px;
  color: gray;
  font-size: 1em;
}

mat-button{
  cursor: pointer;
}

.accountIcon{
  cursor: pointer;
  font-size: 2.5em;
  margin-right: 10px;
}