<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button fxHide.gt-sm="true">
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <img
      width="100"
      alt="Angular Logo"
      src="./assets/images/oreilly-logo2.png"
    />
    <mat-button
      fxHide.lt-md="true"
      routerLink=""
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</mat-button
    >

    <div class="spacer"></div>
    <button mat-icon-button>
      <mat-icon class="accountIcon" (mouseenter)="op.show($event)"
        >account_circle</mat-icon
      >
    </button>
    <p-overlayPanel class="overlay" #op [style]="{ width: 'auto' }">
      <ng-template pTemplate>
        <mat-card (mouseleave)="op.hide()">
          <mat-card-header>
            <mat-card-title>{{ user.name }} {{ user.lastName }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="row">
              <div class="col text-start">
                <a>{{ user.username }}</a>
                <a> | </a>
                <a>{{ user.roles![0].role }}</a>
              </div>
            </div>
            <div class="row">
              <div class="col text-start">
                <a>{{ user.email }}</a>
              </div>
            </div>
            <div class="row">
              <div class="col text-center">
                <hr>
                <a class="btn btn-default" routerLink="" (click)="logout()"> Logout </a>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </ng-template>
    </p-overlayPanel>
    <mat-button
      fxHide.lt-md="true"
      routerLink="/reporting"
      routerLinkActive="active"
    >
      Reports
    </mat-button>
    <mat-button
      fxHide.lt-md="true"
      routerLink="/expenses"
      routerLinkActive="active"
    >
      Expenses
    </mat-button>
    <mat-button
      fxHide.lt-md="true"
      routerLink="/steps"
      routerLinkActive="active"
    >
      Steps
    </mat-button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list fxHide.md="true" fxHide.xl="true">
      <a mat-list-item routerLink=""> Account </a>
      <a mat-list-item routerLink=""> Home </a>
      <a mat-list-item routerLink="/reporting" routerLinkActive="active">
        Reports
      </a>
      <a mat-list-item routerLink="/expenses" routerLinkActive="active">
        Expenses Sheet
      </a>
      <a mat-list-item routerLink=""> Activities </a>
      <a mat-list-item routerLink="" (click)="logout()"> Logout </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
