<div class="container-fluid">
  <div class="row justify-content-end">
    <div class="col-9 col-sm-5 col-lg-7 align-self-center">
      <h2 class="m-0">Information Reports</h2>
    </div>
    <div class="col-3 col-sm-2 align-self-center text-end">
        <mat-icon matSuffix class="searchIcon" (click)="filter()" title="Filters">filter_list</mat-icon>
        <mat-icon matSuffix class="searchIcon ms-2" (click)="showColumnPopup()" title="Show/hidde columns">visibility_off</mat-icon>
    </div>
    <div class="col-sm-5 col-lg-3">
      <mat-form-field>
        <mat-label>Global filter</mat-label>
        <input
          matInput
          placeholder="E.g. carlaM25@..."
          [(ngModel)]="globalFilter"
          (keydown.enter)="globalFiltering()"
        />
        <mat-icon matSuffix class="searchIcon" (click)="globalFiltering()"
          >search</mat-icon
        >
      </mat-form-field>
    </div>
  </div>
</div>

<table
  mat-table
  [dataSource]="dataSource"
  matSort
  (matSortChange)="sortEvent($event)"
  class="mat-elevation-z8"
>
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
    <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
  </ng-container>

  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
    <td mat-cell *matCellDef="let element">{{ element.username }}</td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
    <td mat-cell *matCellDef="let element">{{ element.email }}</td>
  </ng-container>

  <ng-container matColumnDef="dob">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date of Birdth</th>
    <td mat-cell *matCellDef="let element">{{ element.dob | date : 'dd/MM/yyyy' }}</td>
  </ng-container>

  <ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef>Role</th>
    <td mat-cell *matCellDef="let element">{{ element.roles[0].role }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-toolbar>
  <mat-toolbar-row>
    <mat-icon class="exportIcon" title="Export as CSV" (click)="exportUsers()"
      >save_alt</mat-icon
    >
    <span fxFlex></span>
    <mat-paginator
      #paginator
      [length]="totalRows"
      [pageIndex]="currentPage"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="pageChanged($event)"
      aria-label="Select page"
    >
    </mat-paginator>
  </mat-toolbar-row>
</mat-toolbar>

<p-dialog
  header="Filters"
  [(visible)]="showFilters"
  [responsive]="true"
  position="right"
  [baseZIndex]="10000"
  [contentStyle]="{ width: '100% auto', padding: '35px', height: '100%' }"
>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-12">
            <mat-form-field>
              <mat-label>Id</mat-label>
              <input
                matInput
                placeholder="E.g. 1246"
                [(ngModel)]="userFilter.id"
              />
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <mat-form-field>
              <mat-label>First Name</mat-label>
              <input
                matInput
                placeholder="E.g. Alejandro..."
                [(ngModel)]="userFilter.name"
              />
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <mat-form-field>
              <mat-label>Last Name</mat-label>
              <input
                matInput
                placeholder="E.g. Mercado"
                [(ngModel)]="userFilter.lastName"
              />
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input
                matInput
                placeholder="E.g. pedro-isai@..."
                [(ngModel)]="userFilter.email"
              />
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-12">
            <mat-form-field>
              <mat-label>DOB</mat-label>
              <input
                matInput
                placeholder="E.g. 1992/09/21"
                [(ngModel)]="userFilter.dob"
              />
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <mat-form-field>
              <mat-label>Username</mat-label>
              <input
                matInput
                placeholder="E.g. pedro_mercado"
                [(ngModel)]="userFilter.username"
              />
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <mat-form-field>
              <mat-label>Role</mat-label>
              <input
                matInput
                placeholder="E.g. admin"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <mat-form-field>
              <mat-label>Operation</mat-label>
              <input
                matInput
                placeholder="E.g. 12/20/02"
              />
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-12">
            <mat-form-field>
              <mat-label>Col 1</mat-label>
              <input
                matInput
                placeholder="E.g. 1246"
              />
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <mat-form-field>
              <mat-label>Col 2</mat-label>
              <input
                matInput
                placeholder="E.g. Alejandro..."
              />
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <mat-form-field>
              <mat-label>Col 3</mat-label>
              <input
                matInput
                placeholder="E.g. Mercado"
              />
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <mat-form-field>
              <mat-label>Col 4</mat-label>
              <input
                matInput
                placeholder="E.g. pedro-isai@..."
              />
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-end">
        <button mat-stroked-button color="basic">Save Query</button>
        <button class="ms-2" mat-stroked-button color="primary" (click)="filtering()">Search</button>
      </div>
    </div>
  </div>
</p-dialog>

<p-dialog
  header="Columns"
  [(visible)]="showColumns"
  position="right"
  [responsive]="true"
  [baseZIndex]="10000"
>
  <div class="container">
    <div class="row">
      <h3>Select columns to show</h3>
    </div>
    <div class="row">
      <div class="col-12" *ngFor="let column of tableColumns;let i = index">
        <div class="row">
          <div class="col-sm-12">
              <mat-checkbox style="max-width: 0px !important;" [(ngModel)]="tableColumns[i].show" (change)="changeColumns()">
                {{column.label}}
              </mat-checkbox>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-dialog>
