table {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 500px;
  }
  th.mat-header-cell {
    text-align: left;
    max-width: 300px;
  }

  mat-toolbar{
    background-color: white;
  }

  .exportIcon{
    color:rgb(143, 143, 143);
  }

  .exportIcon:hover{
    cursor: pointer;
    color:rgb(75, 75, 75);
  }

  .searchIcon:hover{
    font-size: 1.7em;
    cursor: pointer;
    color:gray;
  }

  mat-form-field {
    width: 100%;
  }

  ::ng-deep .mat-sort-header-container:not(.mat-sort-header-sorted) .mat-sort-header-arrow {
    opacity: 0.54 !important;
    transform: translateY(0px) !important;
  }