<div class="container-fluid">
  <div class="row text-center">
    <h2 class="m-0">Create your report</h2>
  </div>
  <mat-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="formModel" label="Step 1" state="models">
      <h3>Select models.</h3>
      <form [formGroup]="formModel" (ngSubmit)="nextAction()">
        <div class="row">
          <div class="col-sm-6 col-md-3 col-lg-2 col-xl-2 col-xxl-1 noPadding" formArrayName="models"
            *ngFor="let model of modelsFormArray.controls; let i = index">
            <input type="checkbox" [formControlName]="i" (change)="checkValues(modelList[i].name)" />
            {{ modelList[i].name }}
          </div>
        </div>
        <div class="pt-5">
          <button class="btn btn-outline-success" mat-button matStepperNext [disabled]="!formModel.valid">
            Next 
          </button>
          <span class="ps-1"
            *ngIf="(formModel.get('models')!.touched || formModel.get('models')!.dirty ) && !formModel.valid"
            style="font-weight: 500; color:rgb(255, 62, 62);">
            At least one model must be selected!
          </span>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="formField" label="Step 2" state="fields">
      <h3>Select fields.</h3>

      <mat-accordion class="example-headers-align">
        <form [formGroup]="formField" (ngSubmit)="selectedFields()">
        <div *ngFor="let model of modelFieldList; let i = index">
          <mat-expansion-panel [expanded]="step === i" (opened)="setStep(i)" hideToggle [class.expandedActived]="!formField.get(modelFieldList[i].name)!.valid && (formField.get(modelFieldList[i].name)!.touched || formField.get(modelFieldList[i].name)!.dirty)">
            <mat-expansion-panel-header [class.validatedModel]="formField.get(modelFieldList[i].name)!.valid" [class.invalidModel]="!formField.get(modelFieldList[i].name)!.valid && (formField.get(modelFieldList[i].name)!.touched || formField.get(modelFieldList[i].name)!.dirty)">
              <mat-panel-title>
                {{ model.name }}
              </mat-panel-title>
              <mat-panel-description>
                Select fields for {{ modelFieldList[i].name }} model
              </mat-panel-description>
            </mat-expansion-panel-header>
              <div class="row pt-3">
                <div class="col-sm-6 col-md-3 col-lg-2" formArrayName="{{ modelFieldList[i].name }}"
                  *ngFor="let field of modelFieldList[i].fields; let j = index">
                  <input type="checkbox" [formControlName]="j" (change)="checkFieldValues()" />
                  {{ field.name.replace('_', ' ') | titlecase }}
                </div>
              </div>
              <div class="pt-3">
                <div *ngIf="formField.get(modelFieldList[i].name) && formField.get(modelFieldList[i].name)!.valid">
                  <a mat-button color="primary" (click)="prevStep()" *ngIf="modelFieldList.length > 1 && i > 0">Previous Model</a>
                  <a mat-button color="primary" (click)="nextStep()" *ngIf="modelFieldList.length > 1 && i != (modelFieldList.length-1)">Next Model</a>
                  <a mat-button color="primary" (click)="nextStep()" *ngIf="formField.valid && modelFieldList.length > 1 && i == (modelFieldList.length-1)">Finish</a>
                </div>
                <div *ngIf="formField.get(modelFieldList[i].name) && !formField.get(modelFieldList[i].name)!.valid">
                  <a mat-button color="primary" (click)="prevStep()" *ngIf="modelFieldList.length > 1 && i > 0">Previous Model</a>
                  <a mat-button color="primary" [disabled]="true" *ngIf="modelFieldList.length > 1 && i != (modelFieldList.length-1)">Next Model</a>
                  <a mat-button color="primary" [disabled]="true" *ngIf="!formField.valid && modelFieldList.length > 1 && i == (modelFieldList.length-1)">Finish</a>
                  <span class="ps-1"
                  *ngIf="formField.get(modelFieldList[i].name) && !formField.get(modelFieldList[i].name)!.valid && (formField.get(modelFieldList[i].name)!.touched || formField.get(modelFieldList[i].name)!.dirty)"
                  style="font-weight: 500; color:rgb(255, 62, 62);">
                    ¡At least one '{{ modelFieldList[i].name }}' field must be selected!
                  </span>
                </div>
              </div>
            </mat-expansion-panel>
          </div>
          <div>
            <a mat-button color="primary" (click)="prevStep()" *ngIf="formField.valid">Edit Fields</a>
            <a mat-button color="primary" [disabled]="true" *ngIf="!formField.valid">Edit Fields</a>
          </div>
          <div class="pt-1">
            <button class="btn btn-outline-default pt-1" mat-button matStepperPrevious>Go Back</button>
            <button class="btn btn-outline-success pt-1" mat-button matStepperNext [disabled]="!formField.valid">Report Preview</button>
          </div>
        </form>

        <!--<mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Destination
            </mat-panel-title>
            <mat-panel-description>
              Type the country name
              <mat-icon>map</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-form-field appearance="fill">
            <mat-label>Country</mat-label>
            <input matInput>
          </mat-form-field>

          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Previous</button>
            <button mat-button color="primary" (click)="nextStep()">Next</button>
          </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Day of the trip
            </mat-panel-title>
            <mat-panel-description>
              Inform the date you wish to travel
              <mat-icon>date_range</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-form-field appearance="fill">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" (focus)="picker.open()" readonly>
          </mat-form-field>
          <mat-datepicker #picker></mat-datepicker>

          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Previous</button>
            <button mat-button color="primary" (click)="nextStep()">End</button>
          </mat-action-row>
        </mat-expansion-panel>-->
      </mat-accordion>
    </mat-step>
    <mat-step label="Step 3">
      <div class="container-fluid">
        <div class="row justify-content-end">
          <div class="col-9 col-sm-5 col-lg-7 align-self-center">
            <h2 class="m-0">Report</h2>
          </div>
          <div class="col-3 col-sm-2 align-self-center text-end">
            <mat-icon matSuffix class="searchIcon" (click)="filter()" title="Filters">filter_list</mat-icon>
            <mat-icon matSuffix class="searchIcon ms-2" (click)="showColumnPopup()" title="Show/hidde columns">
              visibility_off</mat-icon>
          </div>
          <div class="col-sm-5 col-lg-3">
            <mat-form-field>
              <mat-label>Global filter</mat-label>
              <input matInput placeholder="E.g. carlaM25@..." [(ngModel)]="globalFilter"
                (keydown.enter)="globalFiltering()" />
              <mat-icon matSuffix class="searchIcon" (click)="globalFiltering()">search</mat-icon>
            </mat-form-field>
          </div>
        </div>
      </div>
      <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortEvent($event)" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
          <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
        </ng-container>

        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
          <td mat-cell *matCellDef="let element">{{ element.username }}</td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
          <td mat-cell *matCellDef="let element">{{ element.email }}</td>
        </ng-container>

        <ng-container matColumnDef="dob">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Date of Birdth
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.dob | date: "dd/MM/yyyy" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef>Role</th>
          <td mat-cell *matCellDef="let element">
            {{ element.roles[0].role }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-toolbar>
        <mat-toolbar-row>
          <mat-icon class="exportIcon" title="Export as CSV" (click)="exportUsers()">save_alt</mat-icon>
          <span fxFlex></span>
          <mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" aria-label="Select page">
          </mat-paginator>
        </mat-toolbar-row>
      </mat-toolbar>
      <div>
        <button class="btn btn-outline-default pt-1" mat-button matStepperPrevious>Go Back</button>
        <button class="btn btn-outline-success pt-1" mat-button matStepperNext>Save Report</button>
      </div>
    </mat-step>

    <!-- Icon overrides. -->
    <ng-template matStepperIcon="phone">
      <mat-icon>call_end</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="chat">
      <mat-icon>forum</mat-icon>
    </ng-template>
  </mat-stepper>
</div>
<p-dialog header="Filters" [(visible)]="showFilters" [responsive]="true" position="right" [baseZIndex]="10000"
  [contentStyle]="{ width: '100% auto', padding: '35px', height: '100%' }">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-12">
            <mat-form-field>
              <mat-label>Id</mat-label>
              <input matInput placeholder="E.g. 1246" [(ngModel)]="userFilter.id" />
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <mat-form-field>
              <mat-label>First Name</mat-label>
              <input matInput placeholder="E.g. Alejandro..." [(ngModel)]="userFilter.name" />
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <mat-form-field>
              <mat-label>Last Name</mat-label>
              <input matInput placeholder="E.g. Mercado" [(ngModel)]="userFilter.lastName" />
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input matInput placeholder="E.g. pedro-isai@..." [(ngModel)]="userFilter.email" />
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-12">
            <mat-form-field>
              <mat-label>DOB</mat-label>
              <input matInput placeholder="E.g. 1992/09/21" [(ngModel)]="userFilter.dob" />
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <mat-form-field>
              <mat-label>Username</mat-label>
              <input matInput placeholder="E.g. pedro_mercado" [(ngModel)]="userFilter.username" />
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <mat-form-field>
              <mat-label>Role</mat-label>
              <input matInput placeholder="E.g. admin" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <mat-form-field>
              <mat-label>Operation</mat-label>
              <input matInput placeholder="E.g. 12/20/02" />
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-12">
            <mat-form-field>
              <mat-label>Col 1</mat-label>
              <input matInput placeholder="E.g. 1246" />
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <mat-form-field>
              <mat-label>Col 2</mat-label>
              <input matInput placeholder="E.g. Alejandro..." />
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <mat-form-field>
              <mat-label>Col 3</mat-label>
              <input matInput placeholder="E.g. Mercado" />
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <mat-form-field>
              <mat-label>Col 4</mat-label>
              <input matInput placeholder="E.g. pedro-isai@..." />
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-end">
        <button mat-stroked-button color="basic">Save Query</button>
        <button class="ms-2" mat-stroked-button color="primary" (click)="filtering()">
          Search
        </button>
      </div>
    </div>
  </div>
</p-dialog>

<p-dialog header="Columns" [(visible)]="showColumns" position="right" [responsive]="true" [baseZIndex]="10000">
  <div class="container">
    <div class="row">
      <h3>Select columns to show</h3>
    </div>
    <div class="row">
      <div class="col-12" *ngFor="let column of tableColumns; let i = index">
        <div class="row">
          <div class="col-sm-12">
            <mat-checkbox style="max-width: 0px !important" [(ngModel)]="tableColumns[i].show"
              (change)="changeColumns()">
              {{ column.label }}
            </mat-checkbox>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-dialog>