<div class="wrapper">
  <h1 class="m-0 p-0">Reports system</h1>
  <div id="formContent">
    <!-- Tabs Titles -->
    <!-- Icon -->
    <div>
      <img
        width="120"
        alt="Angular Logo"
        src="./assets/images/oreilly-logo2.png"
      />    
    </div>

    <!-- Login Form -->
    <!--<div>
      <input type="text" id="login" name="login" placeholder="Email" [(ngModel)]="authenticationRequest.userName">
      <input type="password" id="password" name="login" placeholder="Password" [(ngModel)]="authenticationRequest.password">
      <button (click)="login()">Login</button>
    </div>-->

    <form [formGroup]="myForm" (ngSubmit)="login()">
      <div>
        <div>
          <input type="text" id="login" placeholder="Email" formControlName="userName">
          <div *ngIf="myForm.get('userName')!.invalid && (myForm.get('userName')!.dirty || myForm.get('userName')!.touched)">
            <a class="errorMessage">Please provide a valid email address</a>
          </div>
        </div>
        <input type="password" id="password" placeholder="Password" formControlName="password">
        <div *ngIf="myForm.get('password')!.invalid && (myForm.get('password')!.dirty || myForm.get('password')!.touched)">
          <a class="errorMessage">Password should not be empty</a>
        </div>
        <button type="submit" [disabled]="myForm.invalid" >Send</button>
      </div>
    </form>
    <a *ngIf="errorMessage" class="errorMessage">Wrong username or password</a>
    <a *ngIf="!errorMessage" class="errorMessage"></a>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>
  </div>
</div>
