/* You can add global styles to this file, and also import other style files */

/*media query for xxl screens*/
@media(min-width:1400px){
    .noPadding {
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-card-header-text{
    width: 100% !important;
    margin: 0px !important;
    text-align: center;
}

.p-overlaypanel-content{
    padding: 0px !important;
}

.mat-step-header, .mat-expansion-panel-header {
    pointer-events: none;
 }

.mat-expanded{
    background: rgba(236, 236, 236, 0.486) !important;
    border-color: transparent !important;
    border-style: groove !important;
    border-width: thin !important;
 }

 .expandedActived{
     border-color: red !important; 
 }

 .mat-expanded > .mat-expansion-panel-header{
    background: rgb(236, 236, 236) !important;
 }

 .mat-expansion-panel-header{
    background: transparent !important;
 }

.mat-expansion-panel-body {
    padding: 0 10px 6px !important;
}

.validatedModel{
    background: rgba(7, 107, 40, 0.411) !important; 
}

.invalidModel{
    background: rgba(247, 44, 44, 0.699) !important;
}